p {
    color: rgb(246, 255, 0);
    background-color: rgb(24, 69, 9);
    border: 1px solid rgb(36, 0, 243);
    margin: 30px;
    padding: 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div {
    margin: 30px;
    /* Margen exterior */
    background-color: red;
    width: 350px;
    padding: 10px;
    border: 1px solid blue;
    /* Margen interior */
}