* {
    margin: 0;
}

.encabezado {
    /* Regla de estilo que se aplicara a los elementos que tengan la clase encabezado */
    margin: 0 auto;
    /* Margen Exterior */
    background-color: rgb(182, 186, 247);
    padding: 10px;
    /* Margen Interior */
    text-align: right;
    /* Alineacion del texto */
    border: 3px solid white;
    /* Propiedades del borde : grosor, tipo, color */
}

.menu h1 {
    /* Regla de estilo que se aplicara a los elementos que estan dentro del elmento que tiene la clase menu */
    color: white;
    text-align: center;
}

.enlaces {
    /* Flexbox */
    color: white;
    display: flex;
    gap: 20px;
}


/* .enlaces li {
    list-style: none;
}*/

.menuItem {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuItem a div {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}


/* Psudoclases : hover> cuando el cursor esta encima */

.menuItem a div:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(218, 215, 215);
    border-radius: 20px;
    box-shadow: 2px 2px 6px black;
}

.contenido {
    display: flex;
    gap: 15px;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ccc;
    /* flex-direction: row-reverse; */
    /* borde de el elemento: grosor tipo color */
    border: 1px solid black;
    /* curvatura del cada esquina : ESI ESD EID EII | uno para todos */
    /* border-radius: 50px 30px 15px 5px; */
    border-radius: 25px;
    /* Color de fondo*/
    /* background-color: antiquewhite;*/
    /* Ancho */
    width: 90%;
    /* Alto */
    height: 850px;
    overflow: scroll;
    /* Margen exterior  */
    /*    margin-left: 4%;*/
    /* margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 5%; 
    */
    /* Margen interior */
    color: blue;
    /* Fondo con degradado de colores */
    /*background: linear-gradient(-15deg, #FFFFFF, #581edf, #ade90a, #ABC000);*/
    /* background: linear-gradient(to left, #000000, #FFFFFF, #999999); */
    /*background: linear-gradient(to top, transparent, #666666, #ade90a, #ABC000);*/
    box-shadow: 5px 5px 15px black;
    padding: 0.5%;
}

.inombre {
    border: 0.5px solid blue;
    background-color: cornsilk;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
}

.inombre:hover {
    border: 2px solid blue;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card {
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
    width: 150px;
    height: 220px;
    box-shadow: 10px 10px 10px #ccc;
}


/*.c1{
    order: 3;
    !*flex-grow: 5;*!
    flex-basis: 25%;
}
.c2{
    order: 1;
    !*flex-grow: 5;*!
    flex-basis: 150px; !* width:  *!
}
.c3{
    order: 4;
    flex-grow: 2;
}
.c4{
    order: 2;
    flex-grow: 1;
}*/

.card:hover {
    box-shadow: 4px 4px 7px #bbb;
    transform: scale(.99) translate(1px, 1px);
}

.cardScale:hover {
    transform: scale(1.5);
}

.cardTranslate:hover {
    transform: translate(0px, 100px);
}

.cardRotate:hover {
    transform: rotate(15deg);
}

.cardSkew:hover {
    transform: skewX(25deg);
}

.cardContent {
    border-bottom: 1px solid rgb(118, 118, 118);
    border-top: 1px solid rgb(118, 118, 118);
    background-color: #CCC;
    height: 50px;
    width: 100%;
}

.cardFooter {
    border-bottom: 1px solid rgb(118, 118, 118);
    border-top: 1px solid rgb(118, 118, 118);
    background-color: #CCC;
    height: 25px;
    width: 100%;
}

.animation1:hover {
    transform: scale(1.8) rotate(360deg) translate(250px, 0px);
    /*    transform: rotate(360deg);
    transform: translate(250px, 0px); */
    transition: 1s;
}

.animation2:hover {
    transform: perspective(800px) rotateY(180deg);
    backface-visibility: visible;
    /*    transform: rotate(360deg);
    transform: translate(250px, 0px); */
    transition: 2s;
}

.contenedor {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid blue;
    width: 900px;
    height: auto;
    padding: 10px;
}

.elemento {
    border: 1px dotted brown;
    background-color: darkgray;
    padding: 15px;
    font-size: xx-large;
}

.presBlock {
    display: block;
}

.presInLine {
    display: inline;
}

.presFlex {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.menuitem {
    border: none;
    background-color: aquamarine;
}

.menuitem:hover {
    background-color: rgba(50, 100, 255, .5);
    /*    background-color: aliceblue;  */
    color: aliceblue;
    transform: scale(0.90);
    cursor: pointer;
}

.ejemploDisplay {
    background-color: aquamarine;
    width: 89%;
    border: none;
    border-radius: 15px;
    box-shadow: 15px 15px 20px #ccc;
    padding: 20px;
    margin: 20px 75px;
}

@media screen and (max-width: 900px) {
    .contenido {
        width: 95%;
        height: 1000px;
        background-color: #cca;
    }
    .card {
        border: .5px solid black;
        border-radius: 8px;
        background-color: beige;
        width: 110px;
        height: 180px;
        box-shadow: 8px 8px 7px #ccc;
    }
}