#menu {
    background-color: whitesmoke;
    box-shadow: 2px 2px 8px;
    width: 120px;
}

.contenedor {
    display: inline-block;
    width: 100%;
    margin: 35px auto;
    border: 1px solid black;
    height: auto;
    overflow: scroll;
}

#Cabecera {
    border: 1px solid blue;
    background-color: chocolate;
    width: 0 auto;
}

.vinculoForm {
    display: inline;
    box-shadow: 3px 3px 5px #ccc;
    background-color: #818182;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
}

.vinculoForm:hover {
    box-shadow: 2px 2px 4px #bbb;
    background-color: #002752;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
    text-decoration: none;
}

.elem {
    width: 50px;
    height: 50px;
    background-color: silver;
    border: 1px solid black;
    margin: 2px auto;
    padding: 10px;
}

aside {
    margin: 30px;
}

.elementos {
    height: auto;
    width: 90%;
    border: 1px solid black;
    background-color: #c3e6cb;
}