#menu{
    background-color: whitesmoke;
    box-shadow: 2px 2px 8px;
    width: 120px;
}

.contenedor{
    display: flex;
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    height: auto;
    overflow: scroll;
    padding: 20px;
}

#Cabecera{
    border: 1px solid blue;
    background-color: chocolate;
}


form{
    border: 1px solid black;
}